{% include "myapp/layouts/layout.html" %}
{% block bodyblock %}
    <div class="bodydiv">
      <div class="partition">
      <div class="leftdiv">
        <p>SMART BUDGETING MADE SIMPLE</p>
        <button>Individual</button>
        <button>Family</button>
        <button>Organization</button>
      </div>
      <div class="rightdiv">This is right div</div>
    </div>
    
    <div class="tod">
      <p>Tips of the Day</p>
    </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>
{% endblock bodyblock %}